# Ignore raw GIS data
data/raw/

# Ignore large files
*.tif
*.zip
*.graphml

# Ignore Python cache
__pycache__/
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/
notebooks/cache
notebooks/00_test.ipynb

# Ignore environment files
.venv

# Ignore config files with sensitive info
config.py